/* Polices personnalisées*/
@font-face
{
    font-family: 'Raleway';
    src: url(Polices/Raleway-VariableFont_wght.ttf) format('truetype');
}

/*Styles principaux de la page*/
body
{
overflow-x: hidden;   
font-family: Raleway, Arial, Helvetica, sans-serif;
}
#bloc_page
{
    width: 92%;
    margin: auto;
}

/*Header*/
header
{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

/*Navigation header*/
header ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
header li
{
    margin-left: 28%;
}
header a
{
    color: black;
    text-decoration: none;
    font-size: 1em;
}
#lien_inscription /*le lien "S'inscrire" est toujours en bleu*/
{
    color:#0065FC;
    font-weight: bold;    
}
header a:hover
{
    color: #0065FC;
    text-decoration: underline;
}
header a:focus
{
    color: #0065FC;
}

/*Main*/
main
{
    margin-top: 30px;  
}


/*Recherche*/
#search
{
}

h1
{
    font-size: 1.3em;
    margin-bottom: 0px;
}
h1 + p
{
    margin-top: 5px;
    font-size: 1em;
}

/*Barre de recherche*/
.searchbar
{
    margin-top: 30px;
    height: 48px;
    font-size: 1.1em;
    display: flex;
}
.searchbar i
{
    background-color:#F2F2F2;
    width: 49px;
    padding-top: 15px;
    border-radius: 14px 0 0 14px;;
    display: flex;
    justify-content: center;
    align-content: center;
}
.searchbar input
{
    width: 225px;
    font-size: 1em;
    border: 1px solid #F2F2F2;
    padding-left: 15px;
}
.searchbar a
{
    width: 135px;
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 0 14px 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Filtre*/
.filtre
{
    margin-top: 30px;
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}

.titrefiltre
{
    padding-right: 25px;
    display: flex;
    align-items: center;
}

.filtre p
{
    margin-right: 20px;
    
}
#boutoncategorie
{
    display: flex;
    flex-wrap: wrap;
}
#boutoncategorie a
{
    height: 47px;
    text-decoration: none;
    margin-right: 30px;
    margin-bottom: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

#boutoncategorie a:hover
{
    background-color: #DEEBFF;
    border: 1px solid #0065FC;
}

#boutoncategorie i
{
    margin-right: 10px;
    text-align: center;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 47px;
    width: 48px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorie
{
    color: black;
}

/*Nombre de résultats*/
.n_result
{
    margin-top: 25px;
    display: flex;
    align-items: baseline;
}

.n_result i
{
    margin-right: 15px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Section Hébergements*/
#hebpop
{
    display: flex;
    justify-content: space-between;
}

#hebergements
{
    padding: 2%;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-basis: 67%; 
}

#hebergements h1
{
}

.lienheb
{
    text-decoration: none;
    color: black;
}

.vignetteheb
{
    background-color: white;
    border-radius: 15px;
    width: 242px;
    height: 200px;
}

.imgheb
{
    width:232px;
    height: 115px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 0 5px;
    padding-bottom: 0;
}

.descriptionheb
{
    margin: 5px auto auto 10px;
    padding: 0;
    height: ;
    display: flex;
    flex-direction: column;
}

.descriptionheb h2
{
    font-size: 1em;
    margin: 0 0 4px 0;
    padding: 0;
}

.descriptionheb p
{
    font-size: 0.9em;
    margin: 0 0 3px 0;
    padding: 0;
    
}

#plus
{
    text-decoration: none;
    color: #0065FC;
}

/*Note en étoile*/
.noteetoile
{
}

.noteetoile i
{
    font-size: 0.7em;
    width: 9px;
    margin: 0;
    padding: 0;
}

.bleue
{
    color: #0065FC;
}

.grise
{
    color: #F2F2F2;
}

/*Aside Les plus populaires*/
#populaires
{
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-basis: 30%;
}
/*Section activités*/
#activites
{
}

/*Footer*/
footer
{
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
    left: 0;
    
}

footer nav
{
    margin: 30px auto 30px 4%;
    display: flex;
}

footer div
{
    margin-right: 18%;
}

footer h1
{
    margin-bottom: 23px;
    font-size: 1.1em;
}

footer ul
{
    list-style-type: none;
    padding: 0;
}

footer li
{
    margin-bottom: 10px;
}

footer a
{
    text-decoration: none;
    color: black;
    font-size: 1em;
}