/* Polices personnalisées*/
@font-face
    {
        font-family: 'Raleway';
        src: url(Polices/Raleway-VariableFont_wght.ttf) format('truetype');
        src: url(Polices/static/Raleway-Regular.ttf) format('truetype');
        font-style: normal;
    }
@font-face
    {
        font-family: 'Raleway';
        src: url(Polices/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
        src: url(Polices/static/Raleway-Italic.ttf);
        font-style: italic;
    }
@font-face
    {
        font-family: "Raleway";
        src: url(Polices/static/Raleway-Bold.ttf) format('truetype');
        font-weight: bold;
    }

/*Styles principaux de la page*/
    body
    {
        overflow-x: hidden;   
        font-family: Raleway, Arial, Helvetica, sans-serif;
    }
    #bloc_page
    {
        width: 93%;
        margin: 0 auto;
    }

/*Header*/
    header
    {
        width: 100%;
        display: grid;
        grid-template-columns: 14% 1fr 300px 132px;
        grid-template-rows: 85px;
        grid-template-areas: 
        "logoreservia . navigation inscription";
        align-items: flex-start;
    }
    .logoreservia
    {
        grid-area: logoreservia;
        align-self: end;
    }
    header nav
    {
        grid-area: navigation;
        margin: 37px 0 0;
        padding: 0;
    }
    header ul
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
    }
    header li
    {
        margin: 0;
        padding: 0;
    }
    header a
    {
        color: black;
        text-decoration: none;
        font-size: 1em;
        padding: 45px 30px 0;
        margin: 0;
        position: relative;
    }
    .vers_hebergements
    {
        color: #0065FC;
    }
    .vers_hebergements .lienborder
    {
        border-top: 2px solid #0065FC;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;;
    }
    .inscription
    {
        grid-area: inscription;
        width: 100%;
        margin: 37px 0 0;
        text-align: center;
    }
    .lien_inscription
    {
        color:#0065FC;
        font-weight: bold;
    }
    header a:hover
    {
        color: #0065FC;
        text-decoration: underline;
    }
    header a:focus
    {
        color: #0065FC;
    }

/*Main*/
    main
    {
        margin-top: 32px;
        width: 100%; 
    }
    
    /*Recherche*/
        h1
        {
            font-size: 1.3em;
            margin-bottom: 0;
        }
        h1 + p
        {
            margin-top: 9px;
            font-size: 0.95em;
        }

    /*Barre de recherche*/
        .searchbar
        {
            margin: 20px 0 30px;
            height: 48px;
            width: 409px;
            font-size: 1.1em;
            border-top: 1px solid #F2F2F2;
            border-bottom: 1px solid #F2F2F2;
            border-radius: 14px;
            display: flex;
        }
        .fa-map-marker-alt
        {
            background-color:#F2F2F2;
            width: 49px;
            border-radius: 14px 0 0 14px;
            text-align: center;
            height: 48px;
            line-height: 48px;
            vertical-align: middle;
        }
        .searchbar input
        {
            width: 225px;
            padding-left: 15px;
            font-size: 1em;
            border: none;
            outline: none;
        }
        .boutonrecherche
        {
            width: 135px;
            background-color: #0065FC;
            color: white;
            font-size: 1em;
            border: none;
            border-radius: 0 14px 14px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .boutonrecherche span
        {
            text-decoration: none;
            font-family: Raleway;
            font-weight: 570;
        }
        .iconeloupe
        {
            display: none;
        }
        .fa-search
        {
            font-size: 0.9em;
        }

    /*Filtre*/
        .filtre
        {
            font-size: 1.1em;
            font-weight: bold;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .titrefiltre
        {
            padding-right: 25px;
            display: flex;
            align-items: center;
        }
        .boutonsfiltre
        {
            display: flex;
            flex-wrap: wrap;
        }
        .boutonsfiltre button
        {
            height: 47px;
            margin-bottom: 15px;
            margin-right: 28px;
            text-decoration: none;
            font-family: Raleway;
            font-size: 1em;
            font-weight: bold;
            background-color: white;
            border: 2px solid #F2F2F2;
            border-radius: 25px;
            display: flex;
            align-items: center;
        }
        .boutonsfiltre button:hover
        {
            border: 3px solid #DEEBFF;
            background-color: #DEEBFF;
        }
        .iconefiltre
        {
            margin: 0 10px 0 -10px;
            background-color: #DEEBFF;
            height: 47px;
            width: 46px;
            border-radius: 26px;
            text-align: center;
            line-height: 47px;
            vertical-align: middle;
        }
        .boutonsfiltre i
        {
            font-size: 1.2em;
            color: #0065FC;
        }
        .categoriefiltre
        {
            margin-right: 13px;
            color: black;
        }

    /*Nombre de résultats*/
        .n_result
        {
            margin: 10px auto 25px;
            font-size: 1em;
            display: flex;
            align-items: baseline;
        }
        .cercleinfo
        {
            margin-right: 15px;
            height: 22px;
            width: 22px;
            border: 2px solid #F2F2F2;
            border-radius: 15px;
            text-align: center;
        }
        .fa-info
        {
            font-size: 0.8em;
            color: #0065FC;
        }
    
    /*Lien des vignettes*/
        .lienvignette
        {
            text-decoration: none;
            color: black;
        }

    /*Police des descriptions des vignettes*/
        .descriptionhebergement h3, .descriptionpopulaire h3, #activites h3
        {
            font-size: 1em;
        }
        .descriptionhebergement p, .descriptionpopulaire p
        {
            font-size: 0.9em;
        }

    /*Note en étoile*/
        .noteetoile i
        {
            font-size: 0.7em;
            width: 9px;
            margin: 0;
            padding: 0 1px 0 0;
        }
        .bleue
        {
            color: #0065FC;
        }
        .grise
        {
            color: #F2F2F2;
        }

    /*Section Hébergements*/
        #hebergementspopulaires
        {
            display: flex;
            justify-content: space-between;
        }
        #hebergements
        {
            width: 66%;
            background-color: #F2F2F2;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr 28% 1fr 28% 1fr 28% 1fr ;
            grid-template-rows: 88px 230px 230px 80px;
            grid-template-areas:
            ". titreheb titreheb titreheb . . ."
            ". heb1 . heb2 . heb3 ."
            ". heb4 . heb5 . heb6 ."
            ". afficherplus . . . . .";
            justify-items: center;
        }
        #hebergements h2
        {
            grid-area: titreheb;
            font-size: 1.4em;
            justify-self: start;
            align-self: end;
        }
        .hebergement1
        {
            grid-area: heb1;
        }
        .hebergement2
        {
            grid-area: heb2;
        }
        .hebergement3
        {
            grid-area: heb3;
        }
        .hebergement4
        {
            grid-area: heb4;
        }
        .hebergement5
        {
            grid-area: heb5;
        }
        .hebergement6
        {
            grid-area: heb6;
        }
        #afficherplus
        {
            grid-area: afficherplus;
            color: black;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em;
            margin: 10px;
            justify-self: start;
        }
        #afficherplus:hover
        {
            text-decoration: underline;
        }
        .lienhebergement
        {
            background-color: white;
            border-radius: 15px;
            margin: 0;
            width: 100%;
            min-width: 190px;
            height: 200px;
        }
        .imghebergement
        {
            width:94%;
            height: 114px;
            border-radius: 10px 10px 0 0;
            margin: 3% 3% 0 3%;
            padding-bottom: 0;
            object-fit: cover;
        }
        .descriptionhebergement
        {
            padding-top: 5px;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
        }
        .descriptionhebergement h3
        {
            margin: 0 0 4px 0;
            padding: 0;
        }
        .descriptionhebergement p
        {
            margin: 0;
            padding: 0 0 4px 0;
        } 

    /*Aside Les plus populaires*/
        #populaires
        {
            padding: 10px;
            width: 30%;
            background-color: #F2F2F2;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr 70% 15% 1fr;
            grid-template-rows: 62px auto auto auto;
            grid-template-areas: 
            ". titreaside iconepop ."
            ". pop1 pop1 ."
            ". pop2 pop2 ."
            ". pop3 pop3 .";
            justify-items: center;
            align-items: center;
        }
        .titreaside
        {
            grid-area: titreaside;
            justify-self: start;
            align-self: center;
            font-size: 1.35em;
        }
        .fa-chart-line
        {
            grid-area: iconepop;
            justify-self: end;
            align-self: center;
            margin: 20px 0 0;
            font-size: 1.5em;
        }
        .populaire1
        {
            grid-area: pop1;
        }
        .populaire2
        {
            grid-area: pop2;
        }
        .populaire3
        {
            grid-area: pop3;
        }
        .lienpopulaire
        {
            background-color: white;
            border-radius: 15px;
            width: 100%;
            min-width: 289px;
            height: 142px;
            display: flex;
        }
        .imgpopulaire
        {
            width: 37%;
            height: 132px;
            border-radius: 10px 0 0 10px;
            margin: 5px 0 5px 5px;
            padding: 0;
            object-fit: cover;
        }
        .descriptionpopulaire
        {
            width: 49%;
            height: 100%;
            margin: 0 7%;
            padding: 0;
            display: flex;
            flex-flow: column;
        }
        .descriptionpopulaire h3
        {
            margin: 0;
            padding: 17px 0 7px;
        }
        .descriptionpopulaire p
        {
            margin: 0;
            padding: 0 0 35px;
        }
        .descriptionpopulaire .noteetoile
        {
            margin: 0;
            padding: 0;
        }

    /*Section activités*/
        #activites
        {
            width: 100%; 
            margin: 40px 0 65px;
            display: grid;
            grid-template-columns: 22.5% 1fr 22.5% 1fr 22.5% 1fr 22.5%;
            grid-template-rows: 70px 232px 210px ;
            grid-template-areas:
            "titreact titreact titreact titreact titreact titreact titreact"
            "act1 . act2 . act4 . act5"
            "act1 . act3 . act4 . act6";
        }
        .titreactivites
        {
            grid-area: titreact;
            font-size: 1.4em;
        }
        .activite1
        {
            grid-area: act1;
            height: 442px;
        }
        .activite2
        {
            grid-area: act2;
            height: 235px;
        }
        .activite3
        {
            grid-area: act3;
            align-self: end;
            height: 160px;
        }
        .activite4
        {
            grid-area: act4;
            height: 442px;
        }
        .activite5
        {
            grid-area: act5;
            height: 192px;
        }
        .activite6
        {
            grid-area: act6;
            align-self: end;
            height: 205px;
        }
        .lienactivites
        {
            width: 100%;
            min-width: 232px;
            text-decoration: none;
            color: black;
            border-radius: 20px;
            box-shadow: 0 3px 10px 10px #F2F2F2;
            display: flex;
            flex-direction: column;
        }
        .lienactivites img
        {
            width: 100%;
            margin: 0;
            padding: 0;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
        .lienactivites h3
        {
            margin-left: 6%;
            font-size: 0.4em;
        }
        .activite1 img, .activite4 img
        {
            height: 385px;
        }
        .activite2 img
        {
            height: 185px;
        }
        .activite3 img
        {
            height: 110px;
        }
        .activite5 img
        {
            height: 140px;
        }
        .activite6 img
        {
            height: 155px;
        }

/*Footer*/
    footer
    {
        background-color: #F2F2F2;
        width: 100%;
        position: absolute;
        left: 0;
    }
    footer nav
    {
        width: 92%;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
    }
    footer div
    {
        width: 33%;
        min-width: 227px;
    }
    footer h2
    {
        margin-bottom: 23px;
        font-size: 1.1em;
    }
    footer ul
    {
        list-style-type: none;
        padding: 0;
    }
    footer li
    {
        margin-bottom: 10px;
    }
    footer a
    {
        text-decoration: none;
        color: black;
        font-size: 1em;
    }
    footer a:hover
    {
        text-decoration: underline;
    }

/*Responsive tablette*/
@media screen and (max-width: 1024px)
{
    /*Section header*/
    header li
        {
            margin-left: 0;
        }
    /*Section hébergements et populaires*/
    #hebergementspopulaires
        {
            flex-direction: column-reverse;
        }
    #hebergements
        {
            width: 100%;
            grid-template-columns: 1fr 42% 1fr 42% 1fr;
            grid-template-rows: 88px 230px 230px 230px 80px;
            grid-template-areas:
            ". titreheb titreheb titreheb 1fr"
            ". heb1 . heb2 ."
            ". heb3 . heb4 ."
            ". heb5 . heb6 ."
            ". afficherplus afficherplus . .";
        }
    #populaires
        {
            width: 100%;
            padding: 0 0 20px 0;
            margin-bottom: 20px;
            grid-template-columns: 1fr 80% 5% 1fr ;
            grid-template-rows: 60px 10px 142px 10px 142px 10px 142px;
            grid-template-areas:
            ". titreaside iconepop ."
            ". . . ."
            ". pop1 pop1 ."
            ". . . ."
            ". pop2 pop2 ."
            ". . . ."
            ". pop3 pop3 .";
        }

    /*Section activités*/
    #activites
        {
            grid-template-columns: 44% 1fr 44%;
            grid-template-rows: 70px 235px 210px 40px 235px 210px;
            grid-template-areas: 
            "titreact titreact titreact"
            "act1 . act2"
            "act1 . act3"
            ". . ."
            "act4 . act5"
            "act4 . act6";
            justify-items: center;
            align-items: center;
        }
        .titreactivites
        {
            justify-self: flex-start;
        }

    /*Footer*/
    footer div
    {
        width: 25%;
        margin: 0 4%;
    }
}

/*Responsive mobile*/
@media screen and (max-width: 599px)
{
    /*Header*/
    header
    {
        grid-template-columns: 50% 50% ;
        grid-template-rows: 60px 65px;
        grid-template-areas: 
        "logoreservia inscription"
        "navigation navigation";
    }
    .inscription
    {
        width: 100%;
        padding: 0;
        margin: 0 0 15px;
        text-align: end;
        align-self: end;
    }
    .lien_inscription
    {
        padding: 0;
    }
    header nav
    {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
        margin-top: 32px;
    }
    header ul
    {
        width: 100%;
    }
    header li
    {
        width: 50%;
        text-align: center;
    }
    header a
    {
        padding: 0 0 15px;
    }
    .vers_hebergements, .vers_activites
    {
        width: 100%;
        display: inline-block;
    }
    .vers_hebergements .lienborder
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        bottom: 0;
        width: 100%;
    }
    .vers_activites .lienborder
    {
        border-bottom: 3px solid #F2F2F2;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    /*Recherche*/
    .searchbar
    {
        width: 100%;
        margin: 40px 0 15px;
    }
    .searchbar input
    {
        width: 90%;
    }
    .fa-map-marker-alt
    {
        width: 49px;
        min-width: 49px;
    }
    .boutonrecherche
    {
        width: 49px;
        min-width: 49px;
        border-radius: 14px;
    }
    .boutonrecherche span
    {
        display: none;
    }
    .iconeloupe
    {
        display: inline-block;
    }

    /*Filtre*/
    .boutonsfiltre button
    {
        font-size: 0.85em;
        margin-right: 10px;
    }
    /*Section populaires*/
    #populaires
    {
        border-radius: 0;
        padding: 13px 0 40px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        grid-template-columns: 1fr 85% 4% 1fr;
        grid-template-rows: 60px 18px 142px 10px 142px 10px 142px;
    }

    /*Section hébergements*/
    #hebergements
    {
        background-color: transparent;
        grid-template-columns: 100%;
        grid-template-rows: 60px repeat(6, 212px) 38px;
        grid-template-areas:
        "titreheb"
        "heb1"
        "heb2"
        "heb3"
        "heb4"
        "heb5"
        "heb6"
        "afficherplus";
    }
    .lienhebergement
    {
        box-shadow: 0 3px 10px 10px #F2F2F2;
    }
    .imghebergement
    {
        width: 96%;
        margin: 2% 2% 0 2%;
    }
    #afficherplus
    {
        margin: 22px 10px 10px;
    }

    /*Section activités*/
    #activites
    {
        margin: 40px 0 40px;
        grid-template-columns: 100%;
        grid-template-rows: 50px repeat(6, 210px);
        grid-template-areas:
        "titreact"
        "act1"
        "act2"
        "act3"
        "act4"
        "act5"
        "act6";
        justify-items: center;
    }
    .lienactivites
    {
        height: 185px;
        align-self: center;
    }
    .lienactivites img
    {
        height: 132px;
    }
}